<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="dist/output.css">
  <link rel="stylesheet" href="/all.min.css">
</head>

<body>
  <section class="flex relative">
    <nav class="bg-blue-500  w-[15%] overflow-hidden h-[100vh] fixed">
      <div class="pl-3 pt-6 text-white items-start gap-5">

        <div class="flex items-center p-2  ap-1"> <a href="home.html"><i class="fa-solid fa-house"></i>
            Home</a></div>
        <div class="flex items-center  p-2  gap-1"><a href="pageTeacher.html">
            <i class="fa-solid fa-user"></i> Teacher
          </a></div>
        <div class="flex items-center  p-2  gap-1">
          <a href="pageCourses.html">
            <i class="fa-solid fa-graduation-cap"></i> Course
          </a>
        </div>
        <div class="flex items-center  p-2  gap-1">
          <a href="pageDate.html">
            <i class="fa-solid fa-database"></i> Date
          </a>
        </div>
      </div>

      <div class="absolute pl-3  text-white hover:text-slate-800 bottom-0 mb-5">
        <a href="login.html">
          <i class="fa-solid fa-right-to-bracket"></i> login out
        </a>
      </div>
    </nav>
    <!-- component -->
    <div class="text-gray-900 bg-gray-200 w-[100%] relative left-[280px] -z-10">
      <div class=" ml-5 mt-5 flex items-center ">
        <h1 class="text-3xl">Request to purchase the course </h1>

      </div>
      <div class="px-3 py-4 flex justify-center">
        <table class="w-full text-md bg-white shadow-md rounded mb-4">
          <thead>
            <tr class="border-b">
              <th class="text-left p-3 px-5">Full Name </th>
              <th class="text-left p-3 px-5">Phone Number </th>
              <th class="text-left p-3 px-5">Email Address</th>
              <th class="text-left p-3 px-5">Country</th>
              <th class="text-left p-3 px-5">City</th>
              <th class="text-left p-3 px-5">The Address</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr class="border-b hover:bg-orange-100 bg-gray-100">
              <td class="p-3 px-5">
                <input type="text" placeholder="Name" class="bg-transparent border-b-2 border-gray-300 py-2">
              </td>
              <td class="p-3 px-5">
                <input type="number" placeholder="Phone Number" class="bg-transparent border-b-2 border-gray-300 py-2">
              </td>
              <td class="p-3 px-5">
                <input type="email" placeholder="Email Address" class="bg-transparent border-b-2 border-gray-300 py-2">
              </td>
              <td class="p-3 px-5">
                <input type="text" placeholder="Country" class="bg-transparent border-b-2 border-gray-300 py-2">
              </td>
              <td class="p-3 px-5">
                <input type="text" placeholder="City" class="bg-transparent border-b-2 border-gray-300 py-2">
              </td>
              <td class="p-3 px-5">
                <input type="text" placeholder="Address" class="bg-transparent border-b-2 border-gray-300 py-2">
              </td>
            </tr>

            <tr class="border-b hover:bg-orange-100 ">
              <td class="p-3 px-5">
                <input type="text" placeholder="Name" class="bg-transparent border-b-2 border-gray-300 py-2">
              </td>
              <td class="p-3 px-5">
                <input type="number" placeholder="Phone Number" class="bg-transparent border-b-2 border-gray-300 py-2">
              </td>
              <td class="p-3 px-5">
                <input type="email" placeholder="Email Address" class="bg-transparent border-b-2 border-gray-300 py-2">
              </td>
              <td class="p-3 px-5">
                <input type="text" placeholder="Country" class="bg-transparent border-b-2 border-gray-300 py-2">
              </td>
              <td class="p-3 px-5">
                <input type="text" placeholder="City" class="bg-transparent border-b-2 border-gray-300 py-2">
              </td>
              <td class="p-3 px-5">
                <input type="text" placeholder="Address" class="bg-transparent border-b-2 border-gray-300 py-2">
              </td>
            </tr>
            <tr class="border-b hover:bg-orange-100 ">
              <td class="p-3 px-5">
                <input type="text" placeholder="Name" class="bg-transparent border-b-2 border-gray-300 py-2">
              </td>
              <td class="p-3 px-5">
                <input type="number" placeholder="Phone Number" class="bg-transparent border-b-2 border-gray-300 py-2">
              </td>
              <td class="p-3 px-5">
                <input type="email" placeholder="Email Address" class="bg-transparent border-b-2 border-gray-300 py-2">
              </td>
              <td class="p-3 px-5">
                <input type="text" placeholder="Country" class="bg-transparent border-b-2 border-gray-300 py-2">
              </td>
              <td class="p-3 px-5">
                <input type="text" placeholder="City" class="bg-transparent border-b-2 border-gray-300 py-2">
              </td>
              <td class="p-3 px-5">
                <input type="text" placeholder="Address" class="bg-transparent border-b-2 border-gray-300 py-2">
              </td>
            </tr>
            <tr class="border-b hover:bg-orange-100 ">
              <td class="p-3 px-5">
                <input type="text" placeholder="Name" class="bg-transparent border-b-2 border-gray-300 py-2">
              </td>
              <td class="p-3 px-5">
                <input type="number" placeholder="Phone Number" class="bg-transparent border-b-2 border-gray-300 py-2">
              </td>
              <td class="p-3 px-5">
                <input type="email" placeholder="Email Address" class="bg-transparent border-b-2 border-gray-300 py-2">
              </td>
              <td class="p-3 px-5">
                <input type="text" placeholder="Country" class="bg-transparent border-b-2 border-gray-300 py-2">
              </td>
              <td class="p-3 px-5">
                <input type="text" placeholder="City" class="bg-transparent border-b-2 border-gray-300 py-2">
              </td>
              <td class="p-3 px-5">
                <input type="text" placeholder="Address" class="bg-transparent border-b-2 border-gray-300 py-2">
              </td>
            </tr>
            <tr class="border-b hover:bg-orange-100 ">
              <td class="p-3 px-5">
                <input type="text" placeholder="Name" class="bg-transparent border-b-2 border-gray-300 py-2">
              </td>
              <td class="p-3 px-5">
                <input type="number" placeholder="Phone Number" class="bg-transparent border-b-2 border-gray-300 py-2">
              </td>
              <td class="p-3 px-5">
                <input type="email" placeholder="Email Address" class="bg-transparent border-b-2 border-gray-300 py-2">
              </td>
              <td class="p-3 px-5">
                <input type="text" placeholder="Country" class="bg-transparent border-b-2 border-gray-300 py-2">
              </td>
              <td class="p-3 px-5">
                <input type="text" placeholder="City" class="bg-transparent border-b-2 border-gray-300 py-2">
              </td>
              <td class="p-3 px-5">
                <input type="text" placeholder="Address" class="bg-transparent border-b-2 border-gray-300 py-2">
              </td>
            </tr>
            <tr class="border-b hover:bg-orange-100 ">
              <td class="p-3 px-5">
                <input type="text" placeholder="Name" class="bg-transparent border-b-2 border-gray-300 py-2">
              </td>
              <td class="p-3 px-5">
                <input type="number" placeholder="Phone Number" class="bg-transparent border-b-2 border-gray-300 py-2">
              </td>
              <td class="p-3 px-5">
                <input type="email" placeholder="Email Address" class="bg-transparent border-b-2 border-gray-300 py-2">
              </td>
              <td class="p-3 px-5">
                <input type="text" placeholder="Country" class="bg-transparent border-b-2 border-gray-300 py-2">
              </td>
              <td class="p-3 px-5">
                <input type="text" placeholder="City" class="bg-transparent border-b-2 border-gray-300 py-2">
              </td>
              <td class="p-3 px-5">
                <input type="text" placeholder="Address" class="bg-transparent border-b-2 border-gray-300 py-2">
              </td>
            </tr>
            <tr class="border-b hover:bg-orange-100 ">
              <td class="p-3 px-5">
                <input type="text" placeholder="Name" class="bg-transparent border-b-2 border-gray-300 py-2">
              </td>
              <td class="p-3 px-5">
                <input type="number" placeholder="Phone Number" class="bg-transparent border-b-2 border-gray-300 py-2">
              </td>
              <td class="p-3 px-5">
                <input type="email" placeholder="Email Address" class="bg-transparent border-b-2 border-gray-300 py-2">
              </td>
              <td class="p-3 px-5">
                <input type="text" placeholder="Country" class="bg-transparent border-b-2 border-gray-300 py-2">
              </td>
              <td class="p-3 px-5">
                <input type="text" placeholder="City" class="bg-transparent border-b-2 border-gray-300 py-2">
              </td>
              <td class="p-3 px-5">
                <input type="text" placeholder="Address" class="bg-transparent border-b-2 border-gray-300 py-2">
              </td>
            </tr>
            <tr class="border-b hover:bg-orange-100 ">
              <td class="p-3 px-5">
                <input type="text" placeholder="Name" class="bg-transparent border-b-2 border-gray-300 py-2">
              </td>
              <td class="p-3 px-5">
                <input type="number" placeholder="Phone Number" class="bg-transparent border-b-2 border-gray-300 py-2">
              </td>
              <td class="p-3 px-5">
                <input type="email" placeholder="Email Address" class="bg-transparent border-b-2 border-gray-300 py-2">
              </td>
              <td class="p-3 px-5">
                <input type="text" placeholder="Country" class="bg-transparent border-b-2 border-gray-300 py-2">
              </td>
              <td class="p-3 px-5">
                <input type="text" placeholder="City" class="bg-transparent border-b-2 border-gray-300 py-2">
              </td>
              <td class="p-3 px-5">
                <input type="text" placeholder="Address" class="bg-transparent border-b-2 border-gray-300 py-2">
              </td>
            </tr>
            <tr class="border-b hover:bg-orange-100 ">
              <td class="p-3 px-5">
                <input type="text" placeholder="Name" class="bg-transparent border-b-2 border-gray-300 py-2">
              </td>
              <td class="p-3 px-5">
                <input type="number" placeholder="Phone Number" class="bg-transparent border-b-2 border-gray-300 py-2">
              </td>
              <td class="p-3 px-5">
                <input type="email" placeholder="Email Address" class="bg-transparent border-b-2 border-gray-300 py-2">
              </td>
              <td class="p-3 px-5">
                <input type="text" placeholder="Country" class="bg-transparent border-b-2 border-gray-300 py-2">
              </td>
              <td class="p-3 px-5">
                <input type="text" placeholder="City" class="bg-transparent border-b-2 border-gray-300 py-2">
              </td>
              <td class="p-3 px-5">
                <input type="text" placeholder="Address" class="bg-transparent border-b-2 border-gray-300 py-2">
              </td>
            </tr>
            <tr class="border-b hover:bg-orange-100 ">
              <td class="p-3 px-5">
                <input type="text" placeholder="Name" class="bg-transparent border-b-2 border-gray-300 py-2">
              </td>
              <td class="p-3 px-5">
                <input type="number" placeholder="Phone Number" class="bg-transparent border-b-2 border-gray-300 py-2">
              </td>
              <td class="p-3 px-5">
                <input type="email" placeholder="Email Address" class="bg-transparent border-b-2 border-gray-300 py-2">
              </td>
              <td class="p-3 px-5">
                <input type="text" placeholder="Country" class="bg-transparent border-b-2 border-gray-300 py-2">
              </td>
              <td class="p-3 px-5">
                <input type="text" placeholder="City" class="bg-transparent border-b-2 border-gray-300 py-2">
              </td>
              <td class="p-3 px-5">
                <input type="text" placeholder="Address" class="bg-transparent border-b-2 border-gray-300 py-2">
              </td>
            </tr>
            <tr class="border-b hover:bg-orange-100 ">
              <td class="p-3 px-5">
                <input type="text" placeholder="Name" class="bg-transparent border-b-2 border-gray-300 py-2">
              </td>
              <td class="p-3 px-5">
                <input type="number" placeholder="Phone Number" class="bg-transparent border-b-2 border-gray-300 py-2">
              </td>
              <td class="p-3 px-5">
                <input type="email" placeholder="Email Address" class="bg-transparent border-b-2 border-gray-300 py-2">
              </td>
              <td class="p-3 px-5">
                <input type="text" placeholder="Country" class="bg-transparent border-b-2 border-gray-300 py-2">
              </td>
              <td class="p-3 px-5">
                <input type="text" placeholder="City" class="bg-transparent border-b-2 border-gray-300 py-2">
              </td>
              <td class="p-3 px-5">
                <input type="text" placeholder="Address" class="bg-transparent border-b-2 border-gray-300 py-2">
              </td>
            </tr>
            <tr class="border-b hover:bg-orange-100 ">
              <td class="p-3 px-5">
                <input type="text" placeholder="Name" class="bg-transparent border-b-2 border-gray-300 py-2">
              </td>
              <td class="p-3 px-5">
                <input type="number" placeholder="Phone Number" class="bg-transparent border-b-2 border-gray-300 py-2">
              </td>
              <td class="p-3 px-5">
                <input type="email" placeholder="Email Address" class="bg-transparent border-b-2 border-gray-300 py-2">
              </td>
              <td class="p-3 px-5">
                <input type="text" placeholder="Country" class="bg-transparent border-b-2 border-gray-300 py-2">
              </td>
              <td class="p-3 px-5">
                <input type="text" placeholder="City" class="bg-transparent border-b-2 border-gray-300 py-2">
              </td>
              <td class="p-3 px-5">
                <input type="text" placeholder="Address" class="bg-transparent border-b-2 border-gray-300 py-2">
              </td>
            </tr>
            <tr class="border-b hover:bg-orange-100 ">
              <td class="p-3 px-5">
                <input type="text" placeholder="Name" class="bg-transparent border-b-2 border-gray-300 py-2">
              </td>
              <td class="p-3 px-5">
                <input type="number" placeholder="Phone Number" class="bg-transparent border-b-2 border-gray-300 py-2">
              </td>
              <td class="p-3 px-5">
                <input type="email" placeholder="Email Address" class="bg-transparent border-b-2 border-gray-300 py-2">
              </td>
              <td class="p-3 px-5">
                <input type="text" placeholder="Country" class="bg-transparent border-b-2 border-gray-300 py-2">
              </td>
              <td class="p-3 px-5">
                <input type="text" placeholder="City" class="bg-transparent border-b-2 border-gray-300 py-2">
              </td>
              <td class="p-3 px-5">
                <input type="text" placeholder="Address" class="bg-transparent border-b-2 border-gray-300 py-2">
              </td>
            </tr>
            <tr class="border-b hover:bg-orange-100 ">
              <td class="p-3 px-5">
                <input type="text" placeholder="Name" class="bg-transparent border-b-2 border-gray-300 py-2">
              </td>
              <td class="p-3 px-5">
                <input type="number" placeholder="Phone Number" class="bg-transparent border-b-2 border-gray-300 py-2">
              </td>
              <td class="p-3 px-5">
                <input type="email" placeholder="Email Address" class="bg-transparent border-b-2 border-gray-300 py-2">
              </td>
              <td class="p-3 px-5">
                <input type="text" placeholder="Country" class="bg-transparent border-b-2 border-gray-300 py-2">
              </td>
              <td class="p-3 px-5">
                <input type="text" placeholder="City" class="bg-transparent border-b-2 border-gray-300 py-2">
              </td>
              <td class="p-3 px-5">
                <input type="text" placeholder="Address" class="bg-transparent border-b-2 border-gray-300 py-2">
              </td>
            </tr>
            <tr class="border-b hover:bg-orange-100 ">
              <td class="p-3 px-5">
                <input type="text" placeholder="Name" class="bg-transparent border-b-2 border-gray-300 py-2">
              </td>
              <td class="p-3 px-5">
                <input type="number" placeholder="Phone Number" class="bg-transparent border-b-2 border-gray-300 py-2">
              </td>
              <td class="p-3 px-5">
                <input type="email" placeholder="Email Address" class="bg-transparent border-b-2 border-gray-300 py-2">
              </td>
              <td class="p-3 px-5">
                <input type="text" placeholder="Country" class="bg-transparent border-b-2 border-gray-300 py-2">
              </td>
              <td class="p-3 px-5">
                <input type="text" placeholder="City" class="bg-transparent border-b-2 border-gray-300 py-2">
              </td>
              <td class="p-3 px-5">
                <input type="text" placeholder="Address" class="bg-transparent border-b-2 border-gray-300 py-2">
              </td>
            </tr>
            <tr class="border-b hover:bg-orange-100 ">
              <td class="p-3 px-5">
                <input type="text" placeholder="Name" class="bg-transparent border-b-2 border-gray-300 py-2">
              </td>
              <td class="p-3 px-5">
                <input type="number" placeholder="Phone Number" class="bg-transparent border-b-2 border-gray-300 py-2">
              </td>
              <td class="p-3 px-5">
                <input type="email" placeholder="Email Address" class="bg-transparent border-b-2 border-gray-300 py-2">
              </td>
              <td class="p-3 px-5">
                <input type="text" placeholder="Country" class="bg-transparent border-b-2 border-gray-300 py-2">
              </td>
              <td class="p-3 px-5">
                <input type="text" placeholder="City" class="bg-transparent border-b-2 border-gray-300 py-2">
              </td>
              <td class="p-3 px-5">
                <input type="text" placeholder="Address" class="bg-transparent border-b-2 border-gray-300 py-2">
              </td>
            </tr>
          </tbody>

        </table>

      </div>
    </div>
    <!-- component -->

  </section>


</body>


</html>