@tailwind base;
@tailwind components;
@tailwind utilities;
.caerd {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;
}

dd sdf dsasd .ddd {
  position: relative;
  width: auto;
  margin: 0.5rem;
  pointer-events: none;
}
.sdf {
  display: flex;
  align-items: center;
  min-height: calc(100% - (0.5rem * 2));
}

.dsasd {
  max-width: 800px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
.caerd {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;
}

dd sdf dsasd .ddd {
  position: relative;
  width: auto;
  margin: 0.5rem;
  pointer-events: none;
}
.sdf {
  display: flex;
  align-items: center;
  min-height: calc(100% - (0.5rem * 2));
}

.dsasd {
  max-width: 800px;
}
